# Exploration d'une seule base de données

Ce notebook a pour vocation d'aider à rassembler les différents éléments qui pourraient être utile pour faire le benchmark entre Llama Index et Langchain. 

On commence d'abord par charger la base de données et explorer les différentes tables qui la compose.

In [3]:
# Mettre ici le nom de la base de données à explorer
import os

base_path = "../multispider/multispider/dataset/spider/database"
evaluation_path = "../multispider/multispider/model/multilingual/evaluation_fr.json"

dev_path = "../multispider/databases_dev.json"
train_path = "../multispider/databases_train.json"

## Liste complète des bases de données
# os.listdir(base_path)

In [15]:
# Sélectionnons la première base de données du jeu de dev
import json

with open(dev_path, "r") as f:
    dev_databases = json.load(f)

with open(train_path, "r") as f:
    train_databases = json.load(f)

work_database = dev_databases[0]
# work_database = "YOUR_DATABASE_NAME"
work_database

'wta_1'

## Chargement de la base de données

In [5]:
import sqlite3

# Créons une connexion SQL à la base de données
con = sqlite3.connect(os.path.join(base_path, work_database, work_database + ".sqlite"))

# Créons un curseur pour exécuter des requêtes SQL
cur = con.cursor()

In [7]:
# On peut maintenant lister les tables de la base de données
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()

In [8]:
tables

[('players',), ('matches',), ('rankings',)]

In [10]:
# On peut maintenant lister les colonnes de chaque table, puis le nombre de lignes dans chaque table et le type de données de chaque colonne

for table in tables:
    table_name = table[0]
    print(table_name)
    cur.execute(f"PRAGMA table_info({table_name});")
    columns = cur.fetchall()
    print(columns)
    cur.execute(f"SELECT COUNT(*) FROM {table_name};")
    n_rows = cur.fetchone()[0]
    print(f"Nombre de lignes : {n_rows}")
    print()

players
[(0, 'player_id', 'INT', 0, None, 1), (1, 'first_name', 'TEXT', 0, None, 0), (2, 'last_name', 'TEXT', 0, None, 0), (3, 'hand', 'TEXT', 0, None, 0), (4, 'birth_date', 'DATE', 0, None, 0), (5, 'country_code', 'TEXT', 0, None, 0)]
Nombre de lignes : 20662

matches
[(0, 'best_of', 'INT', 0, None, 0), (1, 'draw_size', 'INT', 0, None, 0), (2, 'loser_age', 'FLOAT', 0, None, 0), (3, 'loser_entry', 'TEXT', 0, None, 0), (4, 'loser_hand', 'TEXT', 0, None, 0), (5, 'loser_ht', 'INT', 0, None, 0), (6, 'loser_id', 'INT', 0, None, 0), (7, 'loser_ioc', 'TEXT', 0, None, 0), (8, 'loser_name', 'TEXT', 0, None, 0), (9, 'loser_rank', 'INT', 0, None, 0), (10, 'loser_rank_points', 'INT', 0, None, 0), (11, 'loser_seed', 'INT', 0, None, 0), (12, 'match_num', 'INT', 0, None, 0), (13, 'minutes', 'INT', 0, None, 0), (14, 'round', 'TEXT', 0, None, 0), (15, 'score', 'TEXT', 0, None, 0), (16, 'surface', 'TEXT', 0, None, 0), (17, 'tourney_date', 'DATE', 0, None, 0), (18, 'tourney_id', 'TEXT', 0, None, 0), (19, 'tourney_level', 'TEXT', 0, None, 0), (20, 'tourney_name', 'TEXT', 0, None, 0), (21, 'winner_age', 'FLOAT', 0, None, 0), (22, 'winner_entry', 'TEXT', 0, None, 0), (23, 'winner_hand', 'TEXT', 0, None, 0), (24, 'winner_ht', 'INT', 0, None, 0), (25, 'winner_id', 'INT', 0, None, 0), (26, 'winner_ioc', 'TEXT', 0, None, 0), (27, 'winner_name', 'TEXT', 0, None, 0), (28, 'winner_rank', 'INT', 0, None, 0), (29, 'winner_rank_points', 'INT', 0, None, 0), (30, 'winner_seed', 'INT', 0, None, 0), (31, 'year', 'INT', 0, None, 0)]
Nombre de lignes : 278

rankings
[(0, 'ranking_date', 'DATE', 0, None, 0), (1, 'ranking', 'INT', 0, None, 0), (2, 'player_id', 'INT', 0, None, 0), (3, 'ranking_points', 'INT', 0, None, 0), (4, 'tours', 'INT', 0, None, 0)]
Nombre de lignes : 510437

In [13]:
# On affiche les 10 premières lignes de chaque table sous forme de pandas DataFrame
import pandas as pd


for table in tables:
    table_name = table[0]
    print(table_name)
    cur.execute(f"SELECT * FROM {table_name} LIMIT 10;")
    rows = cur.fetchall()
    columns = [description[0] for description in cur.description]
    df = pd.DataFrame(rows, columns=columns)
    print(df)
    print()

players
   player_id  first_name       last_name hand  birth_date country_code
0     200001     Martina          Hingis    R    19800930          SUI
1     200002     Mirjana           Lucic    R    19820309          CRO
2     200003     Justine           Henin    R    19820601          BEL
3     200004  Kerry Anne            Guse    R    19721204          AUS
4     200005      Jolene  Watanabe Giltz    R    19680831          USA
5     200006      Karina       Habsudova    R    19730802          SVK
6     200007     Silvija          Talaja    R    19780114          CRO
7     200008      Alicia           Molik    R    19810127          AUS
8     200009    Tamarine      Tanasugarn    R    19770524          THA
9     200010        Rita          Grande    R    19750323          ITA

matches
   best_of  draw_size  loser_age loser_entry loser_hand  loser_ht  loser_id  \
0        3          4  24.626968                      R       170    201474
1        3          4  23.622177                      L       183    201520
2        3          4  25.757700                      L       173    201493
3        3          4  24.626968                      R       170    201474
4        3          4  24.626968                      R       170    201474
5        3          4  25.757700                      L       173    201493
6        3          4  24.224504                      R       180    201458
7        3          4  26.480493                      R       164    201506
8        3          4  24.224504                      R       180    201458
9        3          4  26.480493                      R       164    201506

  loser_ioc           loser_name  loser_rank  ...  winner_entry  winner_hand  \
0       POL  Agnieszka Radwanska           4  ...                          R
1       CZE        Petra Kvitova           6  ...                          R
2       GER     Angelique Kerber           9  ...                          R
3       POL  Agnieszka Radwanska           4  ...                          L
4       POL  Agnieszka Radwanska           4  ...                          L
5       GER     Angelique Kerber           9  ...                          L
6       BLR    Victoria Azarenka           2  ...                          R
7       ITA          Sara Errani           7  ...                          R
8       BLR    Victoria Azarenka           2  ...                          R
9       ITA          Sara Errani           7  ...                          R

   winner_ht  winner_id winner_ioc        winner_name winner_rank  \
0        175     200033        USA    Serena Williams           1
1        175     200033        USA    Serena Williams           1
2        175     200033        USA    Serena Williams           1
3        183     201520        CZE      Petra Kvitova           6
4        173     201493        GER   Angelique Kerber           9
5        183     201520        CZE      Petra Kvitova           6
6        172     201419        CHN              Na Li           5
7        180     201458        BLR  Victoria Azarenka           2
8        177     201347        SRB    Jelena Jankovic           8
9        172     201419        CHN              Na Li           5

   winner_rank_points winner_seed  year
0               12040           1  2013
1               12040           1  2013
2               12040           1  2013
3                4370           5  2013
4                3715           8  2013
5                4370           5  2013
6                5120           4  2013
7                7676           2  2013
8                3860           7  2013
9                5120           4  2013

[10 rows x 32 columns]

rankings
   ranking_date  ranking  player_id  ranking_points  tours
0      20000101        3     200748            4378     13
1      20000101        4     200033            3021     15
2      20000101       28     200020             960      0
3      20000101       31     200124             834      8
4      20000101       43     200120             698      6
5      20000101       44     200117             671      0
6      20000101       45     200083             669     16
7      20000101       48     200002             640     27
8      20000101       50     200072             629      0
9      20000101       56     200036             548      0

## Chargement des questions

On va charger les questions des fichiers dev_fr.json, examples_fr.json et train_fr.json s'ils existent pour la base de données sélectionnée. Nous allons ensuite afficher les questions et les requêtes SQL associées.

In [25]:
def print_questions(questions):
    for q in questions:
        print(q["question"])
        print(q["query"])
        print()
    print()

def print_query_questions(work_database, base_path):
    if work_database in dev_databases:
        with open(os.path.join(base_path, work_database, "dev_fr.json"), "r", encoding="utf-8") as f:
            dev_fr = json.load(f)
        print("Questions dev_fr.json")
        print_questions(dev_fr)
        
        with open(os.path.join(base_path, work_database, "examples_fr.json"), "r", encoding="utf-8") as f:
            examples = json.load(f)
        print("Questions examples.json")
        print_questions(examples)
        
    elif work_database in train_databases:
        with open(os.path.join(base_path, work_database, "examples.json"), "r", encoding="utf-8") as f:
            examples = json.load(f)
        print("Questions examples.json")
        print_questions(examples)
        
        with open(os.path.join(base_path, work_database, "train_fr.json"), "r", encoding="utf-8") as f:
            train_fr = json.load(f)
        print("Questions train_fr.json")
        print_questions(train_fr)
    
print_query_questions(work_database, base_path)

Questions dev_fr.json
Trouvez le nombre total de joueurs.
SELECT count(*) FROM players

Combien de joueurs y a-t-il?
SELECT count(*) FROM players

Trouvez le nombre total de matchs.
SELECT count(*) FROM matches

Comptez le nombre de matchs.
SELECT count(*) FROM matches

Indiquez le prénom et la date de naissance de tous les joueurs du pays avec le code USA.
SELECT first_name ,  birth_date FROM players WHERE country_code  =  'USA'

Quels sont les prénoms et les dates de naissance des joueurs des États-Unis?
SELECT first_name ,  birth_date FROM players WHERE country_code  =  'USA'

Trouvez l'âge moyen des perdants et des gagnants de tous les matchs.
SELECT avg(loser_age) ,  avg(winner_age) FROM matches

Quel est l'âge moyen des perdants et des gagnants d'un match à l'autre?
SELECT avg(loser_age) ,  avg(winner_age) FROM matches

Trouvez le classement moyen des gagnants dans tous les matchs.
SELECT avg(winner_rank) FROM matches

Quel est le classement moyen des gagnants dans tous les matchs?
SELECT avg(winner_rank) FROM matches

Trouvez le plus haut classement de perdants dans tous les matchs.
SELECT min(loser_rank) FROM matches

Quel est le meilleur classement des perdants sur tous les matches?
SELECT min(loser_rank) FROM matches

Trouver le numéro de codes de pays distincts de tous les joueurs.
SELECT count(DISTINCT country_code) FROM players

De combien de pays distincts les joueurs proviennent-ils?
SELECT count(DISTINCT country_code) FROM players

Trouvez le numéro de noms distincts de perdants.
SELECT count(DISTINCT loser_name) FROM matches

Combien de noms de perdants différents y a-t-il?
SELECT count(DISTINCT loser_name) FROM matches

Trouvez le nom du tournoi qui a plus de 10 matchs.
SELECT tourney_name FROM matches GROUP BY tourney_name HAVING count(*)  >  10

Quels sont les noms des tournois qui comptent plus de 10 matchs?
SELECT tourney_name FROM matches GROUP BY tourney_name HAVING count(*)  >  10

Listez des noms de tous les gagnants qui ont joué en 2013 et 2016.
SELECT winner_name FROM matches WHERE YEAR  =  2013 INTERSECT SELECT winner_name FROM matches WHERE YEAR  =  2016

Quels sont les noms des joueurs qui ont gagné en 2013 et 2016?
SELECT winner_name FROM matches WHERE YEAR  =  2013 INTERSECT SELECT winner_name FROM matches WHERE YEAR  =  2016

Indiquez le nombre de tous les matchs disputés au cours des années 2013 ou 2016.
SELECT count(*) FROM matches WHERE YEAR  =  2013 OR YEAR  =  2016

Combien de matchs ont été joués en 2013 ou 2016?
SELECT count(*) FROM matches WHERE YEAR  =  2013 OR YEAR  =  2016

Quels sont le code de pays et le prénom des joueurs qui ont remporté les deux championnats WTA et Open d'Australie?
SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id WHERE T2.tourney_name  =  'WTA Championships' INTERSECT SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id WHERE T2.tourney_name  =  'Australian Open'

Quels sont les prénoms et les codes de pays des joueurs qui ont remporté à la fois les championnats WTA et l'Open d'Australie?
SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id WHERE T2.tourney_name  =  'WTA Championships' INTERSECT SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id WHERE T2.tourney_name  =  'Australian Open'

Trouvez le prénom et le code du pays du joueur le plus âgé.
SELECT first_name ,  country_code FROM players ORDER BY birth_date LIMIT 1

Quel est le prénom et le code du pays du joueur le plus âgé?
SELECT first_name ,  country_code FROM players ORDER BY birth_date LIMIT 1

Listez le prénom et le nom de tous les joueurs par ordre de leur date de naissance.
SELECT first_name ,  last_name FROM players ORDER BY birth_date

Quels sont les noms complets de tous les joueurs, triés par date de naissance?
SELECT first_name ,  last_name FROM players ORDER BY birth_date

Listez le prénom et le nom de tous les joueurs qui ont la main gauche / G par ordre de leur date de naissance.
SELECT first_name ,  last_name FROM players WHERE hand  =  'L' ORDER BY birth_date

Quels sont les noms complets de tous les joueurs gauchers, par ordre de date de naissance?
SELECT first_name ,  last_name FROM players WHERE hand  =  'L' ORDER BY birth_date

Trouvez le prénom et le code du pays du joueur qui a effectué le plus de tournées.
SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id ORDER BY T2.tours DESC LIMIT 1

Quel est le prénom et le code du pays du joueur avec le plus de tournées?
SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id ORDER BY T2.tours DESC LIMIT 1

Trouvez l'année qui compte le plus de matchs.
SELECT YEAR FROM matches GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1

Quelle année a eu le plus de matchs?
SELECT YEAR FROM matches GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1

Trouvez le nom et les points de classement du gagnant qui a gagné le plus de fois.
SELECT winner_name ,  winner_rank_points FROM matches GROUP BY winner_name ORDER BY count(*) DESC LIMIT 1

Quel est le nom du gagnant qui a remporté le plus de matchs et combien de points de classement ce joueur possède-t-il?
SELECT winner_name ,  winner_rank_points FROM matches GROUP BY winner_name ORDER BY count(*) DESC LIMIT 1

Trouvez le nom du gagnant qui a le plus de points et qui a participé au tournoi Open d'Australie.
SELECT winner_name FROM matches WHERE tourney_name  =  'Australian Open' ORDER BY winner_rank_points DESC LIMIT 1

Quel est le nom du gagnant avec le plus de points de classement qui a participé au tournoi Open d'Australie?
SELECT winner_name FROM matches WHERE tourney_name  =  'Australian Open' ORDER BY winner_rank_points DESC LIMIT 1

Trouver les noms du perdant et du gagnant qui ont joué dans le match avec le plus grand nombre de minutes.
SELECT winner_name ,  loser_name FROM matches ORDER BY minutes DESC LIMIT 1

Quels sont les noms du gagnant et du perdant qui ont disputé le match le plus long?
SELECT winner_name ,  loser_name FROM matches ORDER BY minutes DESC LIMIT 1

Trouvez le classement moyen de chaque joueur et son prénom.
SELECT avg(ranking) ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.first_name

Quels sont les prénoms de tous les joueurs et leur classement moyen?
SELECT avg(ranking) ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.first_name

Trouvez le total des points de classement pour chaque joueur et son prénom.
SELECT sum(ranking_points) ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.first_name

Quels sont les prénoms de tous les joueurs et leurs points de classement totaux?
SELECT sum(ranking_points) ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.first_name

Trouver le nombre de joueurs de chaque pays.
SELECT count(*) ,  country_code FROM players GROUP BY country_code

Combien de joueurs sont de chaque pays?
SELECT count(*) ,  country_code FROM players GROUP BY country_code

Trouvez le code du pays où a le plus grand nombre de joueurs.
SELECT country_code FROM players GROUP BY country_code ORDER BY count(*) DESC LIMIT 1

Quel est le code du pays avec le plus de joueurs?
SELECT country_code FROM players GROUP BY country_code ORDER BY count(*) DESC LIMIT 1

Trouvez les codes des pays qui comptent plus de 50 joueurs.
SELECT country_code FROM players GROUP BY country_code HAVING count(*)  >  50

Quels sont les codes des pays avec plus de 50 joueurs?
SELECT country_code FROM players GROUP BY country_code HAVING count(*)  >  50

Trouvez le nombre total de visites pour chaque date de classement.
SELECT sum(tours) ,  ranking_date FROM rankings GROUP BY ranking_date

Combien de tournées au total y avait-il pour chaque date de classement?
SELECT sum(tours) ,  ranking_date FROM rankings GROUP BY ranking_date

Trouvez le nombre de matchs qui se sont produits chaque année.
SELECT count(*) ,  YEAR FROM matches GROUP BY YEAR

Combien de matchs ont été joués chaque année?
SELECT count(*) ,  YEAR FROM matches GROUP BY YEAR

Trouvez le nom et le classement des 3 plus jeunes gagnants de tous les matchs.
SELECT DISTINCT winner_name ,  winner_rank FROM matches ORDER BY winner_age LIMIT 3

Quels sont les noms et les classements des trois plus jeunes gagnants de tous les matches?
SELECT DISTINCT winner_name ,  winner_rank FROM matches ORDER BY winner_age LIMIT 3

Combien de gagnants différents ont participé aux championnats WTA et étaient gauchers?
SELECT count(DISTINCT winner_name) FROM matches WHERE tourney_name  =  'WTA Championships' AND winner_hand  =  'L'

Trouvez le nombre de gagnants gauchers qui ont participé aux championnats WTA.
SELECT count(DISTINCT winner_name) FROM matches WHERE tourney_name  =  'WTA Championships' AND winner_hand  =  'L'

Trouvez le prénom, le code du pays et la date de naissance du gagnant qui a le plus de points de classement dans tous les matchs.
SELECT T1.first_name ,  T1.country_code ,  T1.birth_date FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id ORDER BY T2.winner_rank_points DESC LIMIT 1

Quels sont le prénom, le code du pays et la date de naissance du joueur avec le plus de points de classement dans tous les matchs?
SELECT T1.first_name ,  T1.country_code ,  T1.birth_date FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id ORDER BY T2.winner_rank_points DESC LIMIT 1

Trouvez le nombre de joueurs pour chaque type de main.
SELECT count(*) ,  hand FROM players GROUP BY hand

Combien de joueurs y a-t-il pour chaque type de main?
SELECT count(*) ,  hand FROM players GROUP BY hand


Questions examples.json
Trouvez le nombre total de joueurs.
SELECT count(*) FROM players

Combien de joueurs y a-t-il?
SELECT count(*) FROM players

Trouvez le nombre total de matchs.
SELECT count(*) FROM matches

Comptez le nombre de matchs.
SELECT count(*) FROM matches

Indiquez le prénom et la date de naissance de tous les joueurs du pays avec le code «USA».
SELECT first_name ,  birth_date FROM players WHERE country_code  =  'USA'

Quels sont les prénoms et les dates de naissance des joueurs des «USA»?
SELECT first_name ,  birth_date FROM players WHERE country_code  =  'USA'

Trouvez l'âge moyen des perdants et des gagnants de tous les matchs.
SELECT avg(loser_age) ,  avg(winner_age) FROM matches

Quel est l'âge moyen des perdants et des gagnants d'un match à l'autre?
SELECT avg(loser_age) ,  avg(winner_age) FROM matches

Trouvez le classement moyen des gagnants dans tous les matchs.
SELECT avg(winner_rank) FROM matches

Quel est le classement moyen des gagnants dans tous les matchs?
SELECT avg(winner_rank) FROM matches

Trouvez le plus haut classement de perdants dans tous les matchs.
SELECT min(loser_rank) FROM matches

Quel est le meilleur classement des perdants sur tous les matches?
SELECT min(loser_rank) FROM matches

Trouver le nombre de codes de pays distincts de tous les joueurs.
SELECT count(DISTINCT country_code) FROM players

De combien de pays distincts les joueurs proviennent-ils?
SELECT count(DISTINCT country_code) FROM players

Trouvez le nombre de noms distincts de perdants.
SELECT count(DISTINCT loser_name) FROM matches

Combien de noms de perdants différents y a-t-il?
SELECT count(DISTINCT loser_name) FROM matches

Trouvez le nom du tournoi qui a plus de 10 matchs.
SELECT tourney_name FROM matches GROUP BY tourney_name HAVING count(*)  >  10

Quels sont les noms des tournois qui comptent plus de 10 matchs?
SELECT tourney_name FROM matches GROUP BY tourney_name HAVING count(*)  >  10

Listez des noms de tous les gagnants qui ont joué en 2013 et 2016.
SELECT winner_name FROM matches WHERE YEAR  =  2013 INTERSECT SELECT winner_name FROM matches WHERE YEAR  =  2016

Quels sont les noms des joueurs qui ont gagné en 2013 et 2016?
SELECT winner_name FROM matches WHERE YEAR  =  2013 INTERSECT SELECT winner_name FROM matches WHERE YEAR  =  2016

Indiquez le nombre de tous les matchs disputés au cours des années 2013 ou 2016.
SELECT count(*) FROM matches WHERE YEAR  =  2013 OR YEAR  =  2016

Combien de matchs ont été joués en 2013 ou 2016?
SELECT count(*) FROM matches WHERE YEAR  =  2013 OR YEAR  =  2016

Quels sont le code de pays et le prénom des joueurs qui ont remporté à la fois le «WTA Championships » et le «Australian Open» ?
SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id WHERE T2.tourney_name  =  'WTA Championships' INTERSECT SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id WHERE T2.tourney_name  =  'Australian Open'

Quels sont les prénoms et les codes de pays des joueurs qui ont remporté à la fois le «WTA Championships » et le «Australian Open»?
SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id WHERE T2.tourney_name  =  'WTA Championships' INTERSECT SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id WHERE T2.tourney_name  =  'Australian Open'

Trouvez le prénom et le code du pays du joueur le plus âgé.
SELECT first_name ,  country_code FROM players ORDER BY birth_date LIMIT 1

Quel est le prénom et le code du pays du joueur le plus âgé?
SELECT first_name ,  country_code FROM players ORDER BY birth_date LIMIT 1

Listez le prénom et le nom de tous les joueurs par ordre de leur date de naissance.
SELECT first_name ,  last_name FROM players ORDER BY birth_date

Quels sont les noms complets de tous les joueurs, triés par date de naissance?
SELECT first_name ,  last_name FROM players ORDER BY birth_date

Indiquez le prénom et le nom de famille de tous les joueurs qui sont gauchers «L» dans l'ordre de leur date de naissance.
SELECT first_name ,  last_name FROM players WHERE hand  =  'L' ORDER BY birth_date

Quels sont les noms complets de tous les joueurs gauchers «L» , par ordre de date de naissance?
SELECT first_name ,  last_name FROM players WHERE hand  =  'L' ORDER BY birth_date

Trouvez le prénom et le code du pays du joueur qui a effectué le plus de tournées.
SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id ORDER BY T2.tours DESC LIMIT 1

Quel est le prénom et le code du pays du joueur avec le plus de tournées?
SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id ORDER BY T2.tours DESC LIMIT 1

Trouvez l'année qui compte le plus de matchs.
SELECT YEAR FROM matches GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1

Quelle année a eu le plus de matchs?
SELECT YEAR FROM matches GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1

Trouvez le nom et les points de classement du gagnant qui a gagné le plus de fois.
SELECT winner_name ,  winner_rank_points FROM matches GROUP BY winner_name ORDER BY count(*) DESC LIMIT 1

Quel est le nom du gagnant qui a remporté le plus de matchs et combien de points de classement ce joueur possède-t-il?
SELECT winner_name ,  winner_rank_points FROM matches GROUP BY winner_name ORDER BY count(*) DESC LIMIT 1

Trouvez le nom du gagnant qui a le plus de points et qui a participé au tournoi «Australian Open».
SELECT winner_name FROM matches WHERE tourney_name  =  'Australian Open' ORDER BY winner_rank_points DESC LIMIT 1

Quel est le nom du gagnant avec le plus de points de classement qui a participé au tournoi «Australian Open»?
SELECT winner_name FROM matches WHERE tourney_name  =  'Australian Open' ORDER BY winner_rank_points DESC LIMIT 1

Trouver les noms du perdant et du gagnant qui ont joué dans le match avec le plus grand nombre de minutes.
SELECT winner_name ,  loser_name FROM matches ORDER BY minutes DESC LIMIT 1

Trouvez les noms du perdant et du gagnant du jeu le plus long.
SELECT winner_name ,  loser_name FROM matches ORDER BY minutes DESC LIMIT 1

Trouvez le classement moyen de chaque joueur et son prénom.
SELECT avg(ranking) ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.first_name

Quels sont les prénoms de tous les joueurs et leur classement moyen?
SELECT avg(ranking) ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.first_name

Trouvez le total des points de classement pour chaque joueur et son prénom.
SELECT sum(ranking_points) ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.first_name

Quels sont les prénoms de tous les joueurs et leurs points de classement totaux?
SELECT sum(ranking_points) ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.first_name

Trouver le nombre de joueurs de chaque pays.
SELECT count(*) ,  country_code FROM players GROUP BY country_code

Combien de joueurs sont de chaque pays?
SELECT count(*) ,  country_code FROM players GROUP BY country_code

Trouvez le code du pays où il y a le plus grand nombre de joueurs.
SELECT country_code FROM players GROUP BY country_code ORDER BY count(*) DESC LIMIT 1

Quel est le code du pays avec le plus de joueurs?
SELECT country_code FROM players GROUP BY country_code ORDER BY count(*) DESC LIMIT 1

Trouvez les codes des pays qui comptent plus de 50 joueurs.
SELECT country_code FROM players GROUP BY country_code HAVING count(*)  >  50

Quels sont les codes des pays avec plus de 50 joueurs?
SELECT country_code FROM players GROUP BY country_code HAVING count(*)  >  50

Trouvez le nombre total de visites pour chaque date de classement.
SELECT sum(tours) ,  ranking_date FROM rankings GROUP BY ranking_date

Combien de tournées au total y avait-il pour chaque date de classement?
SELECT sum(tours) ,  ranking_date FROM rankings GROUP BY ranking_date

Trouvez le nombre de matchs qui se sont produits chaque année.
SELECT count(*) ,  YEAR FROM matches GROUP BY YEAR

Combien de matchs ont été joués chaque année?
SELECT count(*) ,  YEAR FROM matches GROUP BY YEAR

Trouvez le nom et le classement des 3 plus jeunes gagnants de tous les matchs.
SELECT DISTINCT winner_name ,  winner_rank FROM matches ORDER BY winner_age LIMIT 3

Quels sont les noms et les classements des trois plus jeunes gagnants de tous les matches?
SELECT DISTINCT winner_name ,  winner_rank FROM matches ORDER BY winner_age LIMIT 3

Combien de gagnants différents ont participé aux «WTA Championships» et étaient gauchers?
SELECT count(DISTINCT winner_name) FROM matches WHERE tourney_name  =  'WTA Championships' AND winner_hand  =  'L'

Trouvez le nombre de gagnants différents ont participé aux «WTA Championships» et étaient gauchers.
SELECT count(DISTINCT winner_name) FROM matches WHERE tourney_name  =  'WTA Championships' AND winner_hand  =  'L'

Trouvez le prénom, le code du pays et la date de naissance du gagnant qui a le plus de points de classement dans tous les matchs.
SELECT T1.first_name ,  T1.country_code ,  T1.birth_date FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id ORDER BY T2.winner_rank_points DESC LIMIT 1

Quels sont le prénom, le code du pays et la date de naissance du joueur avec le plus de points de classement dans tous les matchs?
SELECT T1.first_name ,  T1.country_code ,  T1.birth_date FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id ORDER BY T2.winner_rank_points DESC LIMIT 1

Trouvez le nombre de joueurs de chaque type de main dominante.
SELECT count(*) ,  hand FROM players GROUP BY hand

Combien de joueurs y a-t-il pour chaque type de main dominant ?
SELECT count(*) ,  hand FROM players GROUP BY hand

## Utilisation du pipeline de requêtes SQL pour tester les questions et les performances

In [ ]:
### TO DO

##